<mat-card class="example-card">
    <mat-card-title class="text-center">Software developer: Surya</mat-card-title>
    <h4 class="text-center">I have gone over all of the topics listed below. This project is solely for educational purposes. </h4>
    <mat-card-content>
     
      <h3 style="color: lightseagreen;">CRUD Operatioins:<br>
       <p>
        Create<br>
        Read<br>
        Update<br> 
        Delete<br>
       </p>
       
        
        Http Client:<br>
        services : get,post,delete,put<br>
        
        Components:<br>
        
        Layout:<br>
        
        Angular Material<br>
        BootStrap 
        
        : Validaters<br>
        : Data table<br>
        : pipes<br>
        : Reactive forms , Validater</h3>
    </mat-card-content>
    
  </mat-card>