<div class="vertical-nav" id="sidebar">


  <ul class="nav flex-column">


    <li>

      <button [routerLink]="['users/home']" class="listyle" mat-button style="border: none;">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">dashboard</mat-icon>
        Dashboard
      </button>
    </li>
    <li>
    <li>

      <button [routerLink]="['users/list']" class="listyle" mat-button style="border: none;">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">home</mat-icon>
        User List
      </button>
    </li>
    <li>

      <button [routerLink]="['users/create']" class="listyle" mat-button style="border: none;">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">list_alt</mat-icon>
        Add User
      </button>
    </li>
    <li>

      <button [routerLink]="['users/signup']" class="listyle" mat-button style="border: none;">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">library_books
        </mat-icon>
        User signup
      </button>
    </li>
    <li>

      <button [routerLink]="['users/about']" class="listyle" mat-button style="border: none;">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user
        </mat-icon>

        About Project
      </button>
    </li>



  </ul>
</div>