body {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    background: #00aae5;
    color: #fff;
    text-shadow: 1px 2px 2px #117da8;
    display: flex;
    justify-content: center;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  .icon-display {
    transform: scale(2);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
 }
 .listyle
 {

  padding-top: 12px;
 }
