<div class="vertical-nav" id="sidebar">

  <ul class="nav flex-column">

    <li>

      <button  class="listyle" mat-button style="border: none;">
        <mat-icon class="icon-display"  inline=true>add_location</mat-icon>
        add location
      </button>
    </li>
    <li>

      <button  class="listyle" mat-button style="border: none;">
        <mat-icon class="icon-display"  inline=true>directions_bike</mat-icon>
        directions bike
      </button>
    </li>
    <li>

      <button  class="listyle" mat-button  style="border: none;">
        <mat-icon class="icon-display" inline=true>local_dining</mat-icon>
        dining
      </button>
    </li>
    <li>

      <button  class="listyle" mat-button style="border: none;">
        <mat-icon class="icon-display" inline=true>directions_run</mat-icon>
        directions 
      </button>
    </li>
    <li>

      <button  class="listyle" mat-button style="border: none;">
        <mat-icon class="icon-display" inline=true>flight</mat-icon>
        flight
      </button>
    </li>


  </ul>
</div>