<div class="vertical-nav" id="sidebar">


  <ul class="nav flex-column">



    <li>

      <button onclick="" class="listyle" mat-button style="border: none;">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">home</mat-icon>
        <a routerLink="users/list">User List</a>
      </button>
    </li>
    <li>

      <button class="listyle" mat-button style="border: none;">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">list_alt</mat-icon>
        <a routerLink="users/create"> Add User</a>
      </button>
    </li>
    <li>

      <button class="listyle" mat-button style="border: none;">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">library_books
        </mat-icon>
        <a routerLink="users/signup">User signup</a>
      </button>
    </li>
    <li>

      <button class="listyle" mat-button style="border: none;">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user
        </mat-icon>

        <a routerLink="users/about">About Project</a>
      </button>
    </li>



  </ul>
</div>